################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/USC/v17/Browse.VC.opendb
/64
/USC.sln
/USC.vcxproj
/USC.vcxproj.filters
/USC.vcxproj.user
